<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>University DB</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center" style="padding-top: 10%">
                    {% if statement %}
                        <a href="index.php?controller=students&action=index" class="btn-primary align-center" style="padding: 10px 20px">Start</a>
                    {% else %}
                        <p class="align-center">Please click button to create/check DB and data.</p>
                        <a href="index.php?controller=config&action=create" class="btn-primary align-center" style="padding: 10px 20px">Create/Check</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>