{% include 'base/header.html.twig' %}

    <main>
        <div class="container">
            <h1>Department Form</h1>
            <form method="POST" action="#">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" id="name" name="name" value="{{ name }}">
                    </div>
                </div>
                <div class="row">
                    <input class="btn btn-default" type="submit" value="Create">
                </div>
            </form>
        </div>
    </main>

{% include 'base/footer.html.twig' %}
